body {
    border: 5px solid black;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.tictactoe {
    margin: auto;
}

.grille .case {
    display: flex;
    align-content: space-between;
    height: 50px;
    width: 50px;
    margin: auto;
    font-size: 1.5em;
    border: 2px solid black;
}