.calcul {
    border: 5px solid black;
    text-align: center;
    margin: auto;
}

.affichage {
    margin: auto;
    padding: 5px;
    text-align: center;
}

.affichage input {
    margin: auto;
    height: 75px;
    font-size: 1em;
}

.touche {
    height: 50px;
    width: 50px;
    margin: auto;
    font-size: 1.5em;
    border: 2px solid black;
}